*{
    margin: 0;
    padding: 0;
}

body{
	margin-top: 2.8125rem;
    background: #F5F5F5;
    text-align: left;	
}
.content{
	padding: 0 0 03rem 0;
}
.header-footer .header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 2.8125rem;
    padding: 0.625rem 1.25rem;
    border-bottom: none; 
    background-color: #4DB748;
}
.header-footer .middle p {
    color: white;
}
.go a span{
	text-align: right;
	float: right;
	line-height: 1.6rem;
	color: white;
}
.header-footer .header .left .return img {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    float: left;
}
.top{
	background: white;
}
.time{
	padding: 1rem 1rem 1rem 1rem ;
}
.time div:nth-child(1){
	text-align: left;
	color: #666666;
}
.time div:nth-child(2){
	color: #4DB748;
	font-size: 1.4rem;
	padding: 1.6rem;
}
.detail{
	width: 100%;
}
.detail dl{
	display: block;
	text-align: left;
	overflow: hidden;
	border-top: 0.1rem solid #F5F5F5;
	padding: 0.8rem 1rem;
}
.detail dt,.detail dd{
	float: left;
	text-align: left;
}
.detail dt{
	color: #333333;
}
.detail dd{
	color: #999999;
	
}
.detail dl:nth-child(1) dd,.detail dl:nth-child(2) dd,.detail dl:nth-child(3) dd{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	
}
.detail dl:nth-child(5) dd{
	width: 80%;
}

.bottomrecord{
	width: 100%;
	padding: 0 1rem;
}
.word{
	text-align: left;
	padding: 1.3rem 0 0.5rem 0;
}
.record{
	width: 100%;
	padding: 0.5rem 0.8rem 0.8rem 0.8rem;
	background: white;
	overflow: hidden;
	text-align: left;
	margin-top: 0.8rem;
}
.record div:nth-child(1){
	text-align: left;
	font-size: 1.1rem;
}
.record-img{
	width: 100%;
	margin-top: 0.5rem;
	text-align: left;
}
.record-img img{
	width: 4rem;
	height: 4rem;
}
.suggest,.suggest span{
	font-size: 1rem;
	color: #666666;
	padding: 0.3rem 0;
}

    	li{
    		list-style: none;
    	}
    	.address{
    		position: relative;
    	}
    	.updiv,.bdiv{
    		position:absolute;
    		top:0;
    		left:0;
    		width: 100%;
    	}
    	.updiv{
    		width: 100%;
    	}
    	
        .updiv{
	        z-index: 1;
            -webkit-transition: all ease .5s;
            padding:0 !important;
            background: white;            
        }
        .bdiv{     
	        background-color: red;
	        z-index:0;
	        text-align: right;
	        height: 6rem;
	        
	    }
        .bdiv a{
	        color:#fff !important;
	        font-weight:normal !important;
	        display:inline-block;
	        width:100%;
	        height:100%;
	        text-align: right;
	    }
	    .despan{	    	
	    	display: inline-block;
	    	margin: 0 auto;    
            line-height: 6.5rem;    
            font-size: 1rem; 
            margin-right: 0.7rem;
            color: white; 
                    
	    }
	    .recordimg{
	    	padding: 0rem 0 0.2rem 0;
	    	height: 6rem;
	    }
	    .ui-loader h1{
	    	 display: none;
	    }
