*{
	margin: 0;
	padding: 0;
}
body{
	background: #f5f5f5;
	text-align: left;
	/*margin-top: 3.5125rem;*/
}
em{
	font-style: normal;
}
.header-footer .header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 2.8125rem;
    padding: 0.625rem 1.25rem;
    border-bottom: none; 
    background-color: #4DB748;
}
.header-footer .middle p {
    color: white;
}
.header-footer .header .left .return img {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    float: left;
}
.go a span{
	text-align: right;
	float: right;
	line-height: 1.6rem;
	color: white;
}
.table{
	/*margin-top: 1rem;*/
	width: 60%;
	margin: 0 auto;
	float: left;
}
.top-choose{
	width: 10rem;
	height: 1.8rem;
	border: 0.1rem solid white;
	vertical-align: middle;
	border-radius: 0.2rem;
	/*padding: 0.3rem 1rem;*/
	overflow: hidden;
	margin: 0 auto;
}
.top-choose span{
	width: 50%;
	text-align: center;
	float: left;
	line-height: 1.8rem;
	color: white;
}
.top-choose span:nth-child(1){
	width: 50%;
	height: 1.8rem;
	text-align: center;
	float: left;
}
.testing{
	background: white !important;
	color: #4DB748 !important;
}


.content{
	padding-bottom: 4rem;
}
.top-banner{
	position: relative;
	left: 0;
}
.banner{
	font-size: 0;
}
.banner img{
	width: 100%;
}
.topProfit{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0rem;
	z-index: 100;
	
}
.detail{
	display: inline-block;
	width: 100%;
	padding: 1rem 1.2rem 0.1rem 0;
	text-align: right;
	color: white;
	font-size: 1rem;
}
.topProfit span:nth-child(2){
	color: white;
	font-size: 1rem;
}
.tmoney{
	margin-top: 0.1rem;
}
.money{
	font-size: 3.2rem;
	color: white;
}
.classify{
	background: white;
	width: 100%;
	height: 4rem;
	padding: 0.7rem 0;
	display: block;
	overflow: hidden;
}
.classify>div:nth-child(1){
	border-right: 0.1rem solid #eeeeee;
}
.mon-left{
	width: 49.5%;
	float: left;
}
.mon-left div:nth-child(1){
	color: #fe7c2d;
	font-size: 1.3rem;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;	
}
.mon-left div:nth-child(2){
	color: #999999;
	font-size: 0.7rem;
}


.process {
  clear: both;
  display: inline-block;
  width: 100%;
  padding: 0.8125rem 0;
  background: white;
  margin-top: 0.6rem;
}
.process .parts {
  display: inline-block;
  width: 25%;
  float: left;
  text-align: center;
}
.parts .parts-cont {
  display: inline-block;
}
.parts-cont .process_icon {
  display: inline-block;
  width: 100%;
}
.parts-cont .process_icon img {
  width: 1.825rem;
  height: 1.825rem;
}
.parts-cont .process_font {
  display: inline-block;
  color: #666666;
  font-size: 0.8rem;
}


.Today{
	margin-top: 0.6rem;
	background: white;
}
.Today .words{
	width: 100%;
	padding: 0.6rem;
	overflow: hidden;
	border-bottom: 0.1rem solid #EEEEEE;
}
.Today .words span:nth-child(1){
	text-align: left;
	float: left;
}
.Today .words span:nth-child(2){
	float: right;
	
}
.Today .words span:nth-child(2) img{
	width: 1.3rem;
	height: 1.3rem;
	vertical-align: middle;
}
.Subscribe-List{
	background: white;
	text-align: left;
	/*padding: 0.6rem;*/
	/*border-bottom: 0.1rem solid #EEEEEE;*/
}
.list{
	padding: 0.8rem 0.6rem;
	border-bottom: 0.1rem solid #EEEEEE;

}
.list>div{
	width: 100%;
	overflow: hidden;
}
.list>div:nth-child(1){
		padding: 0.3rem;
}
.list>div:nth-child(1) span:nth-child(1){
	float: left;
	width: 40%;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;	
}
.list>div:nth-child(1) span:nth-child(2){
	float: right;
	color: #4DB748;
}
.list>div:nth-child(2){
	width: 95%;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;	
	padding: 0.4rem 0;
	color: #666666;
	font-size: 0.95rem;
}

.list>div:nth-child(3){
	padding: 0.3rem 0;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;	
}
.list>div:nth-child(3) span:nth-child(1){
	font-size: 0.85rem;
	color: #666666;
}
.list>div:nth-child(3) em{
	font-size: 1rem;
	color: #4db748;
}
.list>div:nth-child(3) span:nth-child(2){
	display: inline-block;
	font-size: 0.95rem;
	color: white;
	padding: 0.28rem 0.65rem;
	background: #4db748;
	border-radius: 0.1rem;
	float: right;
}
#reports{
	background: #fe7c2d;
}




.top{
	width: 100%;
	padding: 0.5rem;
	background: #4DB748;
	overflow: hidden;
}
.left{
	display: inline-block;
    width: 20%;
    height: 1.625rem;
    float: left;
    overflow: hidden;
    margin-top: 0.3rem;
}
.left .return img{
	width: 1.25rem;
	height: 1.25rem;
}
.return{
	text-align: left;
}

.right{
	display: inline-block;
    width: 20%;
    float: right;
    overflow: hidden;
    margin-top: 0.1rem;
}
.right .go a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.go a span {
    text-align: right;
    float: right;
    line-height: 1.6rem;
    color: white;
}


.contents{
	width: 100%;
}











