.header-footer .header {
  background-color: #4db748;
}
.header-footer .header .middle p,
.header-footer .header .right .go p {
  color: #fff;
}
body {
  background-color: #f5f5f5;
}
.content {
  margin-top: 2.8125rem;
  overflow: hidden;
}
.pull {
  display: inline-block;
  background-color: #fff;
  width: 100%;
}
.pull .left {
  display: inline-block;
  float: left;
  margin-left: 1.875rem;
}
.pull .left .title {
  margin: 0.3125rem 0;
  font-size: 1.125rem;
}
.pull .left .grade {
  margin-bottom: 0.3125rem;
  font-size: 0.9375rem;
  text-align: left;
}
.pull .pull-btn {
  display: inline-block;
  float: right;
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  margin-top: 1.2rem;
  background-image: url(../img/add.png);
  -webkit-background-size: 100%;
  background-size: 60%;
  background-repeat: no-repeat;
}
.pull-child {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  padding-left: 1.25rem;
  float: left;
  border-bottom: 1px solid #f5f5f5;
}
.pull-child .left {
  display: inline-block;
  float: left;
  margin-left: 1.875rem;
}
.pull-child .left .title {
  margin: 0.3125rem 0;
  font-size: 1.125rem;
}
.pull-child .left .grade {
  margin-bottom: 0.3125rem;
  font-size: 0.9375rem;
  text-align: left;
}
